{% extends "base.html" %}

{% block title %}Notificaciones{% endblock %}

{% block content %}
<h1>Notificaciones</h1>

{% if notificaciones %}
  <ul class="list-group">
    {% for n in notificaciones %}
      <li class="list-group-item d-flex justify-content-between align-items-start {% if n.no_leido %}fw-bold{% endif %}">
        <div>
          <div>{{ n.verbo }}</div>
          {% if n.target %}
            {# si la noti tiene target, mostramos un poco de info #}
            <small>
              Objeto: {{ n.target }}
            </small><br>
          {% endif %}
          <small>
            {{ n.timestamp|date:"d/m/Y H:i" }}
          </small>
        </div>
        {% if n.level == "peligro" %}
          <span>Peligro</span>
        {% else %}
          <span >{{ n.level|title }}</span>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No tienes notificaciones.</p>
{% endif %}
{% endblock %}
