{% extends 'base.html' %}
{% load static %}

{% block title %}Gestión de Especies{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/user.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal_confirm.css' %}" rel="stylesheet">
  <link href="{% static 'css/planta.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="list-header">
  <h2>Gestión de Especies</h2>
  {% if request.user.rol == 'administrador' or request.user.rol == 'gestor' %}
    <a href="{% url 'planta_crear' %}" class="btn-new-item">Nueva Especie</a>
  {% endif %}
</div>

<div class="filter-bar-wrapper">
  <form method="get" id="filtrosForm" class="filter-bar-form">
    <div class="filter-group">
      <label>Búsqueda por nombre</label>
      <input type="text" name="q" value="{{ q }}" placeholder="Nombre común / científico" id="buscarInput">
    </div>
    <div class="filter-group">
      <label>Fecha desde</label>
      <input type="date" name="fecha_desde" value="{{ fecha_desde }}">
    </div>
    <div class="filter-group">
      <label>Fecha hasta</label>
      <input type="date" name="fecha_hasta" value="{{ fecha_hasta }}">
    </div>
    <div class="filter-group filter-actions">
      <button type="submit" class="btn btn-primary">Filtrar</button>
      <a href="{% url 'planta_inicio' %}" class="btn btn-secondary">Limpiar</a>
    </div>
  </form>
</div>

<div id="results">
  {% include 'arboles/partials/lista_resultados.html' %}
</div>

<div class="map-container">
  <h3>Mapa de Especies</h3>
  <div class="map-folium">
    {{ maps.map|safe }}
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-confirm-delete">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar esta especie?</p>
        <p><strong id="userNameInModal"></strong></p>
      </div>
      <div class="modal-footer">
        <form id="deleteForm" method="post" action="">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/modal_confirm.js' %}"></script>
  <script src="{% static 'js/planta/filtro.js' %}"></script>
{% endblock %}