{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Bienvenido, {{ request.user.nombre_completo }}</h2>
<p>Tu rol: {{ request.user.get_rol_display }}</p>

{% if request.user.rol == 'administrador' %}
  <a href="{% url 'usuario_create' %}" class="btn btn-success mb-3">Agregar usuario</a>
{% endif %}

<ul>
  {% if request.user.rol == 'administrador' %}
    <li><a href="{% url 'usuario_list' %}">Administrar usuarios</a></li>
    <li><a href="{% url 'planta_inicio' %}">Gestión de especies</a></li>
    <li><a href="#">Tareas de mantenimiento</a></li>
    <li><a href="{% url 'respaldo_inicio' %}">Respaldo BD</a></li>
  {% elif request.user.rol == 'gestor' %}
    <li><a href="#">Gestión de especies</a></li>
    <li><a href="#">Tareas de mantenimiento</a></li>
  {% elif request.user.rol == 'mantenimiento' %}
    <li><a href="#">Ver tareas asignadas</a></li>
  {% endif %}

  <!-- SIEMPRE visibles para cualquier usuario autenticado -->
  <li><a href="{% url 'chat_general' %}">Chat general</a></li>
  <li><a href="{% url 'chat_privado_selector' %}">Chat privado</a></li>
  
  <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
</ul>
{% endblock %}
