{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Incidencia{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/form_view.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="form-container">
  <div class="form-wrapper">
    
    <div class="form-header">
      <h2>Crear incidencia ambiental</h2>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      {{ form.as_p }}
      
      <div class="form-actions">
        <a href="{% url 'incidencia_inicio' %}" class="btn-cancel">Cancelar</a>
        <button type="submit" class="btn-save">Crear Incidencia</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}