{% extends 'base.html' %}

{% block title %}Inicio de sesion{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Nombre de usuario o contraseña incorrectos.</p>
    {% else %}
        <p>Por favor, llena el formulario.</p>
    {% endif %}
    <h2>Inicio de sesion</h2>
    <form action= "{% url 'login' %}" method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Iniciar sesion</button>
    </form>
{% endblock %}