{% extends "base.html" %}
{% load static %}

{% block title %}Ingresar Nueva Contraseña{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login-page">
  <div class="login-container">

    <h2>Ingresa nueva contraseña</h2>
    
    <p style="text-align: center; color: #666; margin-top: -20px; margin-bottom: 25px;">
      Por favor, ingresa tu nueva contraseña dos veces.
    </p>

    <form method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {{ form.as_p }}
        
        <button type="submit" class="btn-login" style="margin-top: 5px;">
          Restablecer contraseña
        </button>
    </form>

  </div>
</div>
{% endblock %}