{% extends "base.html" %}
{% load static %}

{% block title %}Restablecer contraseña{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login-page">
  <div class="login-container">

    <h2>Restablecer contraseña</h2>
    
    <p style="text-align: center; color: #666; margin-top: -20px; margin-bottom: 25px;">
      Ingresa tu correo y te enviaremos un enlace para restaurarla.
    </p>

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn-login" style="margin-top: 5px;">
          Enviar enlace
        </button>
    </form>

    <div style="text-align: center; margin-top: 20px;">
      <a href="{% url 'login' %}" class="forgot-password">Volver a Iniciar Sesión</a>
    </div>

  </div>
</div>
{% endblock %}