{% extends "base.html" %}
{% load static %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/form_view.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="form-container">
  <div class="form-wrapper">
    
    <div class="form-header">
      <h2>Cambio de contraseña</h2>
    </div>

    <form method="post" action="">
      {% csrf_token %}
      
      <p style="padding: 0 24px 10px 24px; margin-top: -10px; color: #666;">
        Por favor, rellena el formulario para cambiar tu contraseña.
      </p>

      {{ form.as_p }}
      
      <div class="form-actions">
        <a href="{% url 'dashboard' %}" class="btn-cancel">Cancelar</a>
        <button type="submit" class="btn-save">Cambiar contraseña</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}